<?xml version="1.0" encoding="UTF-8"?>
<escenic version="2.0" xmlns="http://xmlns.escenic.com/2009/import">
    <section-page source="ece-auto-gen" sourceid="5bd62a26-6e5e-4576-aa22-0bf1d30d0d54" unique-name="config" name="Config" layout-name="config" action="remove">
        <area name="outer"/>
        <area name="header"/>
        <area name="top"/>
        <area name="main"/>
        <area name="aside"/>
        <area name="bottom"/>
        <area name="footer"/>
    </section-page>
</escenic>
